            body{
                background-color: blanchedalmond;
                                            }
            h1{
                font-size: 30;
                color: brown;
                font-family: Impact;
            }
            p{
                font-size: 20;
                color: rgb(255, 0, 234);
                font-family: serif;
            }
